<div class="d-flex justify-content-center">
<button  class="btn btn-danger" (click)= "myEFn()">Error handler</button>

</div>
<br>
<img src="../assets/code1.jpg" height="500" width="500" class="rounded float-left">
<img src="../assets/code2.jpg" class="rounded float-right" height="500" width="600">
<img src="../assets/output.jpg" class="rounded float-center" height="300" width="900">
<div class="footer" >
    <hr>
    <p class=" text-muted">This demonstrates the concept of services. </p>
    
    <p class=" text-muted">In this demo, I created a service which implemented the errorhandler class , to handle the error in a custom way.</p>
  </div>
