<div class="container">
<div class="row">
    <div class="col-md-6">
    <h1 class="display-1">My Angular Training Demo</h1>
    <img src="../assets/angular.jpg "  height="200" width="200">
    <br>
    <br>
    <h1 class="display-1">ASET- Taazaa Tech</h1>
</div>


    <div class="col-md-6">
<ul class="navbar-nav mr-auto">
      
    <li  class="nav-item ">
      <a class="nav-link" routerLink="/databinding">DataBinding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/masterdetails">MasterDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/errorhandler">ErrorHandler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/attributedirective">Atribute</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sharedata">SharedataAmongDifferentComponents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/loginform">LoginForm
      
      </a>
    </li>
    
  </ul>
</div>
</div>


