<h1 class="text-center text-info"> Updated Product Item </h1>
<div class="row">
    <table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{prod.Id}}</td>
            <td>{{prod.Title}}</td>
            <td>{{prod.Price}}</td>
            <td>{{prod.Quantity}}</td>

        </tr>
    </tbody>
</table>

</div>