<div class="container">
    <h1 class="text-center text-danger">RxJS Subject Demos</h1>
    <hr/>
    

<div class="row">
    <div class="col-md-3">
      <button class="btn btn-info" routerLink="/subject">Subject demo</button>  

    </div>
    <div class="col-md-3">
        <button class="btn btn-info" routerLink="/replay">Replay Subject Demo</button>  
  
      </div>
      <div class="col-md-3">
        <button class="btn btn-info" routerLink="/async">Async Subject Demo</button>  
  
      </div>
      <div class="col-md-3">
        <button class="btn btn-info" routerLink="/behaviour"> Behaviour Subject demo</button>  
  
      </div>
      
</div>


</div>

  <router-outlet></router-outlet>






