<div class="container">
<h1 class="text-center">T-Shirt</h1>
<hr>
<br>
<br>

<div class="row">

<div class="col-md-4">
  height : <input type="text" [(ngModel)] ='a'>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
  width : <input type="text" [(ngModel)] ='b'>
</div>
</div>



<div class="row">
  
  <div class="col-md-4"></div>
<div class="col-md-4">
  <img [src]= "imgSrc"  [style.height.px]='a' [style.width.px]='b' (mouseenter)= 'onmouseover()' (mouseleave)= 'onmouseout()'>
</div>
<div class="col-md-4"></div>
</div>


</div>

