

 <div class="container">
   <h1 class="text-center">{{title}}</h1>
   

   <div class="row">
     
     <div class="col-md-3">
       <button (click)= "showdbdemo()" class="btn btn-danger">Data Binding demo</button>

     </div>
     <div class="col-md-6"></div>
     <div class="col-md-3">
      <button (click)= "showdirectivedemo()" class="btn btn-danger">Products Stock Details</button>

    </div>
     </div>
   </div>
  <br>

  

  <div class="row">
    <div class="col-md-12">
    <app-tshirtdatabinding *ngIf= "showdatabindingdemo"></app-tshirtdatabinding>
    <app-product *ngIf= "showdirdemo"></app-product>
  </div>
  </div>
 



