<div class="container">
<br>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav-item active" routerLink="/home" >Meenakshi Rana</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li  class="nav-item ">
        <a class="nav-link" routerLink="/databinding">DataBinding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/masterdetails">MasterDetails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/errorhandler">ErrorHandler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/attributedirective">Atribute</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sharedata">SharedataAmongDifferentComponents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/loginform">LoginForm
        
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rxjs">RXJS</a>
      </li>
      
    </ul>
    
    
  </div>
</nav>
<br>
<br>


 
 <!-- <div class="row">
   
   <div class="col-md-2">
     <button (click)= "showdbdemo()" class="btn btn-danger">Data Binding demo</button>

   </div>
   
   <div class="col-md-2">
    <button (click)= "showdirectivedemo()" class="btn btn-danger">Products Stock Details</button>

  </div>
  
   <div class="col-md-2">
    <button (click)= "showmasterdetails()" class="btn btn-danger">Products Stock Details</button>

  </div>
  <div class="col-md-2">
    <button (click)= "showc1c2()" class="btn btn-danger">Share data btw unrelated comp</button>

  </div>
  <div class="col-md-2">
    <button (click)= 'showatt()' class="btn btn-danger">attribute Directive</button>

  </div>

</div>

  <br>
  <br>


   
 
 -->



<!-- <div class="row">
  <div class="col-md-12">
  <app-tshirtdatabinding *ngIf= "showdatabindingdemo"></app-tshirtdatabinding>
  <app-product *ngIf= "showdirdemo"></app-product>
  <app-purchase *ngIf= "showmaster"></app-purchase>
  <app-child1 *ngIf= "showchild"></app-child1>
  <app-child2 *ngIf= "showchild"></app-child2>
  <app-c3 *ngIf= "showattribute"></app-c3>
</div>-->


<br>
<router-outlet></router-outlet>

</div>
  

  
  
  
 



